# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.envrc
.ipynb_checkpoints
.cache/
dist/
build/
*.log

# Data
data/raw/**        
!data/raw/.gitkeep 

data/processed/**  
!data/processed/.gitkeep

data/logs/**       # logs non commités
fetch_logs/**

# Scripts (scrapers privés)
scripts/fetch
scripts/build

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python tooling
.pytest_cache/
.coverage
htmlcov/
